.welcome_text {
  text-align: center;
  background-image: url("../img/bread.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: 1s;
}

.welcome_text p {
  padding-top: 150px;
  color: whitesmoke;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre;
}

.welcome_button {
  border: none;
  font-size: 50px;
  background-color: transparent;
  color: whitesmoke;
  border-radius: 15px;
  transition: 0.3s;
}

.welcome_button:hover {
  transform: scale(1.3);
  border: white solid 1px;
}
