/* For Header Content */
.nav_bar {
  display: flex;
  justify-content: space-between;
  padding: 25px 10%;
  align-items: center;
  height: 50px;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.logo {
  font-size: 50px;
  color: azure;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.tabs li {
  list-style: none;
  color: whitesmoke;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
}
